*, *:after, *:before{
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    background: #f4f4f4
}
.wrapper{
    position: absolute;
    width: 100%;
    max-width: 800px;
    background: #e8e8e8;
    box-shadow: 1px 1px 10px #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 30px 40px 90px;
}

.title{
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
}

.score{
    text-align: center;
    font-size: 36px;
    color: #402dbb;
}

.button{
    border: 2px solid #402dbb;
    padding: 6px 12px 7px;
    width: 100px;
    text-align: center;
    text-decoration: none !important;
    font-weight: 800;
    color: #402dbb;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
}

.button:hover{
    background: #402dbb;
    color: #e8e8e8;
    cursor: pointer;
}

input[type=text]{
    display: block;
    margin: 10px;
    padding: 12px 10px;
    width: 300px;
    margin: 8px auto;
}

.gameWrapper{
    width: 90%;
    height: fit-content;
    padding: 20px;
    margin: 10px auto;
    background: white;
    border: 1px solid #000;
    word-break: break-all;
    text-align: center;
}

.word{
    position: relative;
    display: inline-block;
    margin: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.word:nth-of-type(3n) {
    margin: 20px 55px;
}
.word:nth-of-type(5n) {
    margin: 20px 50px;
}

.word.correct:after{
    content:'correct';
    color: darkgreen;
}

.word.wrong:after{
    content:'wrong';
    color: rgb(226, 22, 22);
}

.word.missed:after{
    content:'missed';
    color: rgb(203, 127, 33);
}

.word:after{
    font-size: 15px;
    position: absolute;
    top: -20px;
    width: fit-content;
    word-break: keep-all;
    left: 50%;
    transform: translateX(-50%);
}

.correct{
    color: green !important;
}

.wrong{
    color: red !important;
}

.missed{
    color: orange !important;
}